<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for table in tables %}
            {{ table|safe }}
            <!-- explain above line in a comment -->
            
{% endfor %}
</body>
<style>
    body {
        /* apply a background gradinent for whole body */
        background: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);
        /* background-color: red; */
        height: auto;
        width: auto;

    }
    table
    {
        border-collapse: collapse;
        width: 100%;
        /* different color for table header */
        background-color: #f1f1c1;

    }
</style>
</html>